@use '../../shared/css/variables' as *;
@use '../../shared/css/detail-page';
@use '../../shared/css/table';

.nft-hero-id {
  margin-bottom: 16px;

  .copyable-address-text {
    font-size: 18px;
    color: $white;
    @include bold;
    @include gradient-title;

    @include for-size(tablet-landscape-up) {
      font-size: 22px;
    }

    @include for-size(desktop-up) {
      font-size: 28px;
    }
  }
}

.nft-details-columns {
  display: flex;
  gap: 16px;

  @media (max-width: $tablet-landscape-upper-boundary) {
    flex-direction: column;
  }
}

.nft-details-panel,
.nft-settings-panel {
  flex: 1;
  min-width: 0;
  padding-bottom: 16px;
}

.nft-details-content {
  padding: 0 16px;
}

.nft-tabs {
  .tab-body {
    border: 1px solid $black-80;
    border-top: none;
    border-radius: 0 0 12px 12px;
    background: $black-90;
    padding: 16px;
  }
}
