@use '../../shared/css/variables' as *;

.network-badge {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: $border-radius;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}

.network-badge-mainnet {
  background: $white;
  color: $black;
}

.network-badge-testnet {
  background: $testnet;
  color: $black;
}

.network-badge-devnet {
  background: $devnet;
  color: $black;
}
