@use '../../shared/css/variables' as *;

.account-header {
  padding: 20px 24px;
}

.account-header-inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.account-header-top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.account-header-label {
  color: $black-40;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  @include semibold;
}

.account-header-address {
  overflow: hidden;

  .copyable-address-text {
    font-size: 16px;
    color: $white;

    @include for-size(tablet-landscape-up) {
      font-size: 20px;
    }

    @include for-size(desktop-up) {
      font-size: 24px;
    }
  }
}
