@use '../../shared/css/variables' as *;
@use '../../shared/css/detail-page';

.account-header-address {
  overflow: hidden;
  margin-bottom: 4px;

  .copyable-address-text {
    font-size: 16px;
    color: $white;
    @include bold;
    @include gradient-title;

    @include for-size(tablet-landscape-up) {
      font-size: 20px;
    }

    @include for-size(desktop-up) {
      font-size: 24px;
    }
  }
}

.account-header-domain {
  margin-top: 4px;
  font-size: 14px;

  a {
    color: $green-30;
    text-decoration: none;

    &:hover {
      color: $green;
    }
  }
}

.account-header-badges {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
