@use 'variables' as *;

.box {
  border-radius: 4px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
}

.box-header,
.box-content {
  padding: 16px;

  @include for-size(desktop-up) {
    padding: 24px;
  }
}

.box-header {
  border-bottom: 1px solid $black-20;
}

.box-header > .icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  float: left;
}

.box-header > h1 {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 22px;

  @include for-size(desktop-up) {
    font-size: 20px;
  }
}
