@use 'variables' as *;

.box {
  border: 1px solid $black-80;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgb(6 6 14 / 40%);
}

.box-header,
.box-content {
  padding: 16px;

  @include for-size(desktop-up) {
    padding: 24px;
  }
}

.box-header {
  border-bottom: 1px solid $black-80;
}

.box-header > .icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  float: left;
}

.box-header > h1 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  @include for-size(desktop-up) {
    font-size: 20px;
  }
}
