@use 'variables' as *;

label {
  color: $black-40;

  &.selected {
    color: $white;
    font-weight: bold;
  }
}

.radio-group {
  label + label {
    margin-left: 10px;
  }
}

input {
  border-radius: $border-radius;

  &[type='text'] {
    &:hover,
    &:focus {
      background-color: $black-80;
    }

    &:focus {
      border-color: $green-50;
      box-shadow: $glow-green;
      outline: none !important;
    }
  }

  &[type='radio'] {
    height: 16px;
    accent-color: $green;
  }
}
