@keyframes loader-pulse {
  0%, 100% { opacity: 0.25; transform: translate(-50%, -50%) scale(0.9); }
  50% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
}

.loader {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 40px;
  pointer-events: none;
  text-align: center;

  .loader-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    color: var(--black-30);
    animation: loader-pulse 1.4s ease-in-out infinite;
  }
}
