@use 'variables' as *;

table.basic {
  display: block;
  overflow-x: auto;

  @include for-size(tablet-portrait-up) {
    display: table;
    overflow-x: visible;
  }
  width: 100%;
  border-top: none;
  margin: auto;
  border-collapse: collapse;
  color: $white;
  font-size: 12px;
  letter-spacing: 0px;
  text-align: left;

  tr {
    border-bottom: $border-subtle;
    transition: background-color $transition-fast;

    &:hover {
      background-color: rgba(var(--black-80-rgb), 0.5);
    }
  }

  td,
  th {
    &.right {
      text-align: right;
    }

    &.center {
      text-align: center;
    }

    &.text-truncate {
      @extend %truncate;
    }
  }

  th {
    padding: 22px 5px;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, $green-70, transparent) 1;
    color: $black-40;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    padding: 15px 5px;

    @include for-size(tablet-portrait-up) {
      td {
        padding: 15px 10px;
        color: $black-40;
      }
    }
  }

  .empty-message {
    padding: 16px;
    color: $black-40;
    font-size: 16px;
    text-align: center;
  }
}

table.token-table {
  margin-top: 24px;
  font-size: 14px;

  .col1 {
    width: auto;
    padding-bottom: 8px;
    color: $black-40;
    text-transform: uppercase;
    @include semibold;

    @include for-size(tablet-portrait-up) {
      width: 180px;
    }
  }

  .col2 {
    display: inline-block;
    width: auto;
    padding-bottom: 8px;
    color: $white;
    overflow-wrap: break-word;

    @include for-size(tablet-portrait-up) {
      width: 230px;
    }
  }
}
