@use 'variables' as *;

.tabs {
  border-top: 1px solid $black-70;
  margin: 8px auto 40px;
  font-size: 14px;

  a {
    color: inherit;
  }

  .tab {
    display: inline-block;
    padding: 24px 24px 0;
    border-top: 2px solid transparent;
    color: $black-40;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    transition: color $transition-fast, border-color $transition-fast, box-shadow $transition-fast;

    &:hover,
    &:focus {
      color: $white;
      @include bold;
    }

    &.selected {
      border-top: 3px solid $green;
      box-shadow: 0 -2px 6px rgb(50 230 133 / 25%);
      color: $white;
      @include bold;
    }
  }
}
