@use 'variables' as *;

.tabs {
  position: relative;
  display: flex;
  border-bottom: 1px solid $black-70;
  margin: 8px auto 40px;
  font-size: 14px;
  gap: 4px;

  a {
    color: inherit;
  }

  .tab {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    color: $black-40;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    transition:
      color $transition-fast,
      background-color $transition-fast;

    &:hover,
    &:focus {
      color: $white;
      @include bold;
    }

    &.selected {
      color: $white;
      @include bold;

      &::after {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $green;
        box-shadow: 0 1px 6px rgba(var(--green-50-rgb), 0.4);
        content: '';
      }
    }
  }
}
