@use 'variables' as *;

.tooltip {
  position: absolute;
  z-index: 1000;
  padding: 8px 12px;
  border: 1px solid $black-70;
  border-radius: $border-radius;
  backdrop-filter: blur(12px);
  background: rgba(var(--black-90-rgb), 0.95);
  box-shadow: 0 4px 16px rgb(6 6 14 / 50%);
  color: white;
  font-size: 13px;
  line-height: 16px;
  @include medium;

  img {
    height: 16px;
    margin: 0 5px;
    vertical-align: middle;
  }

  .label {
    text-transform: uppercase;
  }

  .pubkey {
    overflow: hidden;
    max-width: 100px;
    color: $black-10;
    font-size: 10px;
    letter-spacing: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .time {
    color: $black-40;
    letter-spacing: 0;
  }

  .unl {
    color: $green;
  }

  .tx-status::before {
    content: '\00a0';
  }

  .account {
    color: $black-50;
    font-size: 10px;
  }

  &.tooltip-missing {
    background: rgb(120 0 0 / 90%);
  }

  &.tooltip-text {
    max-width: 300px;
    border: 1px solid $black-80;
    border-radius: 4px;
    background: $black-60;
    box-shadow: 0 4px 12px rgb(0 0 0 / 50%);
    pointer-events: none;
  }
}
