@use '../shared/css/variables' as *;

.simple-body-validator {
  .row {
    .unl {
      img {
        height: 16px;
        padding-top: 2px;
      }
    }

    &.domain-verified {
      svg {
        height: 16px;
        color: $green;
      }
    }
  }
}
