@use '../../shared/css/variables' as *;

.score-sparkline {
  display: block;
  max-width: 100%;
}

.score-sparkline-bar {
  transition: opacity $transition-default;

  &:hover {
    opacity: 0.8;
  }
}

.score-sparkline-bar-green {
  fill: $green-50;
}

.score-sparkline-bar-yellow {
  fill: $yellow-50;
}

.score-sparkline-bar-orange {
  fill: $orange-50;
}

.score-sparkline-bar-neutral {
  fill: $black-40;
}
