@use '../../shared/css/variables' as *;

.network-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;

  .loader {
    min-height: 100px;
  }
}

.network-page-title {
  font-size: 32px;
  @include for-size(tablet-portrait-up) {
    font-size: 38px;
  }
  @include bold;
  @include gradient-title;
}

.network-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 12px;
}

.network-map-panel {
  overflow: hidden;
}

.wrap {
  overflow: auto;
  width: 100%;
}
