version: '3.8'
services:
  explorer:
    image: agtipft/explorer:devnet-latest
    container_name: explorer
    ports:
      - "5001:5001"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
