services:
  explorer:
    image: agtipft/explorer:testnet-latest
    container_name: explorer
    ports:
      - "127.0.0.1:5001:5001"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
