@use '../shared/css/variables' as *;

/* Header */
.header {
  position: sticky;
  z-index: 20;
  top: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 16px;
  border-bottom: 1px solid $black-80;
  background: $black;
  box-shadow: 0 1px 8px rgb(0 0 0 / 50%);
  gap: 8px;

  .topbar {
    display: flex;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    gap: 0 16px;

    .dropdown-toggle {
      padding: 8px 12px;
    }

    .dropdown-menu,
    .dropdown-item {
      padding: 8px;
    }
  }
}
